---
layout: default
title: Hacked Together in 15 Minutes
category: blog
cssfile: main.css
---
<h1>{{ page.title }}</h1>

<p>
In the spirit of [releasing potentially useful academic software, no matter how hastily put together](http://matt.might.net/articles/crapl/), here's a compendium of scripts, hacks and code snippets that were made to perform useful tasks, but never quite found their own function, module or proper documentation in the vast and labyrinthine system of a larger software project.

This is not my repository of projects. For projects with their own documentation, build system and repository, see <a href="{{ site.baseurl }}/projects/">my projects page.</a>

	<ul class="posts">

	  {% for post in site.posts %}
	  	{% if post.categories contains 'snippets' %}
	    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	        {% endif %}
	  {% endfor %}
	</ul>
