body {
    height: 100%;
    width: 100%;
    margin-top: -20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: justify;
    position: relative;
    background-color: #E9E9E9;
}

nav ul, footer ul {
    font-family:'Palatino';
    padding-top: 40px;
    padding-left: 100px;
    list-style: none;
    font-weight: bold;
}

nav {
    background-color: #585858;
    border-color: #585858;
    height: 100px;
    box-shadow: 0px 10px 20px 20px #585858;
}

nav ul li {
    display: inline;
    font-size: 30px;
    margin-right: 40px;
}

footer ul li {
    display: inline;
    font-size: 10px;
    margin-right: 40px;
}

.container {
    margin-left: 80px;
    margin-top: 80px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Palatino', 'Helvetica';
    color: #101010;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #505050;
}

footer {
    border-top: 1px solid #0b2b26;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#navigation li a {
    color: #DFCBFA;
}

