main.page-content {
    width: auto;
    border: 10px solid black;
    align-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.wrapper {

    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;

}

.card {
  float: left;
  width: 33%;
}


