/* Navbar styling for a default page */

nav {
    background-color: #1B1F20;
    border-color: #111111;
    height: 100px;
    box-shadow: 0px 5px 5px #000;
    border-width: 0px 0px 2px 0px;
    border-style: outset;
}

nav ul {
    font-family:'Palatino';
    padding-top: 40px;
    padding-left: 100px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    font-size: 23px;
    margin-right: 40px;
}

nav ul li a {
    color: #DFCBFA;
}
