---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div id="cards">

    <div class="card">
      <div class="card-content">
        <a href="{{ site.url }}/projects/"> Cool Projects </a>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <a href="{{ site.url }}/blog/"> Blog </a>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <a href="{{ site.url }}/work/"> Work </a>
      </div>
    </div>

  </div>



</div>
