---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div id="cards">

    <div class="card">
      <div class="card-content">
        <p> My Projects </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <p> Blog </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <p> Work Experience </p>
      </div>
    </div>

  </div>



</div>